<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">!-->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin</title>
</head>

<body>
<header>
    <div class="container-fluid bg-dark">
        <div class="row w-100 d-flex justify-content-between m-0 p-0">
            <div class="project-name">
                <h5 class="text-muted mt-1">Project name</h5>
            </div>
            <div class="logout">
                <form action="/logout" method="post">
                    <div>
                        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />!-->
                        <button type="submit" class="btn text-muted" name="logout">Logout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row w-100 ">
        <div class="col-sm-2 m-0 p-0">
            <div class="nav flex-column nav-pills  w-100 mt-5" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin"
                   role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-user" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-sm-10 " style="background: rgb(240,240,240);
            background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);">
            <div class="tab-content p-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active " id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab">
                    <div class=" row flex-column">
                        <h2 class="mb-5 mt-5">Admin Panel</h2>
                        <div class="navigation">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-table-tab" data-toggle="tab"
                                       href="#nav-table" role="tab" aria-controls="nav-table"
                                       aria-selected="true">Users table</a>
                                    <a class="nav-item nav-link" id="nav-insert-tab" data-toggle="tab"
                                       href="#nav-insert" role="tab" aria-controls="nav-insert"
                                       aria-selected="false">New User</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="row d-flex ">
                        <div class="tab-content w-100" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-table" role="tabpanel"
                                 aria-labelledby="nav-table-tab">
                                <div class="content">
                                    <div class="users_table">

                                        <h3 class="mt-3 mb-3">All users </h3>

                                        <table class="table table-hover" style="background-color: white;" id="users">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Login</th>
                                                <th scope="col">Password</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>


                                    </div>
                                    <div class="modal fade" role="dialog"
                                         aria-hidden="true" id="exampleModal">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">
                                                    </h5>
                                                    <button type="button" class="close"
                                                            data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body m-auto w-50">
                                                    <div class="edit-form">
                                                        <div class="form-group">
                                                            <label for="user-id"
                                                                   class="col-form-label d-flex justify-content-center">ID:</label>
                                                            <input type="text" class="form-control"
                                                                   id="user-id"
                                                                   name="id" readonly>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="user-email"
                                                                   class="col-form-label d-flex justify-content-center">Email:</label>
                                                            <input type="text" class="form-control"
                                                                   id="user-email"
                                                                   name="email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="user-login"
                                                                   class="col-form-label d-flex justify-content-center">Login:</label>
                                                            <input type="text" class="form-control"
                                                                   id="user-login"
                                                                   name="login">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="user-name"
                                                                   class="col-form-label d-flex justify-content-center">Name:</label>
                                                            <input type="text" class="form-control"
                                                                   id="user-name"
                                                                   name="name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="user-password"
                                                                   class="col-form-label d-flex justify-content-center">Password:</label>
                                                            <input type="text" class="form-control"
                                                                   id="user-password"
                                                                   name="password">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="user-role"
                                                                   class="col-form-label d-flex justify-content-center">Role:</label>
                                                            <input type="text" class="form-control"
                                                                   id="user-role" name="roles">
                                                        </div>
                                                        <div class="form-group">
                                                            <span id="update-error-msg" class="text-danger d-flex justify-content-center "></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button
                                                            type="submit" class="btn bg-primary text-white"
                                                            name="submit" id="updateBtn">Update user
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade d-flex flex-column" id="nav-insert" role="tabpanel"
                                 aria-labelledby="nav-insert-tab">
                                <div class="insert-tab">
                                    <div class="w-100">
                                        <h4>Add new user </h4>
                                    </div>
                                    <div class="row d-flex justify-content-center w-100">
                                        <div class="d-flex justify-content-center insert-form w-50">
                                            <div class="insert-form w-100">
                                                <div class="form-group w-100 d-flex flex-column">
                                                    <label for="exampleInputEmail1"
                                                           class="font-weight-bold d-flex justify-content-center">Email
                                                        address</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                                           aria-describedby="emailHelp" placeholder="Enter email"
                                                           name="email">
                                                </div>
                                                <div class="form-group w-100 d-flex flex-column">
                                                    <label for="exampleInputName1"
                                                           class="font-weight-bold d-flex justify-content-center">Name</label>
                                                    <input type="text" class="form-control" id="exampleInputName1"
                                                           placeholder="Name" name="name">
                                                </div>
                                                <div class="form-group w-100 d-flex flex-column">
                                                    <label for="exampleInputLogin1"
                                                           class="font-weight-bold d-flex justify-content-center">Login</label>
                                                    <input type="text" class="form-control" id="exampleInputLogin1"
                                                           placeholder="Login" name="login">
                                                </div>
                                                <div class="form-group w-100 d-flex flex-column">
                                                    <label for="exampleInputPassword1"
                                                           class="font-weight-bold d-flex justify-content-center">Password</label>
                                                    <input type="password" class="form-control"
                                                           id="exampleInputPassword1" placeholder="Password"
                                                           name="password">
                                                </div>
                                                <div class="form-group w-100 d-flex flex-column">
                                                    <label for="exampleInputRole1"
                                                           class="font-weight-bold d-flex justify-content-center">Role</label>
                                                    <input type="text" class="form-control" id="exampleInputRole1"
                                                           placeholder="Role" name="roles">
                                                </div>
                                                <div class="form-group w-100 d-flex flex-column">
                                                    <span id="insert-error-msg" class="text-danger d-flex justify-content-center "></span>
                                                    <div class="add-button d-flex justify-content-center w-100">
                                                        <button
                                                                type="submit" class="btn bg-primary text-white"
                                                                name="submit" id="insertBtn">Add new user
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade " id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <h2 class="mb-5 mt-5">User page</h2>
                    <div class="user-content">

                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="/../../js/main.js"></script>
</body>

</html>