<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container-fluid homePage d-flex flex-column m-0 p-0" style="height: 100vh;">
<header>
    <div class="container-fluid bg-dark">
        <div class="row w-100 d-flex justify-content-between m-0 p-0">
            <div class="project-name">
                <h5 class="text-muted mt-1">Project name</h5>
            </div>
            <div class="logout">
                <form action="/logout" method="post">
                    <div>
                        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />!-->
                        <button type="submit" class="btn text-muted" name="logout">Logout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid m-0 p-0">
    <div class="row w-100">
        <div class="col-sm-2 m-0 pl-2">
            <div class="nav flex-column nav-pills  w-100 mt-5" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <a class="nav-link disabled" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin"
                   role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                <a class="nav-link active" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-user" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-sm-10 w-100 m-0 p-0 flex-column" style="background: rgb(240,240,240);
            background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%);">
            <div class="tab-content p-5" id="v-pills-tabContent" style="flex-grow: 1;">
                <div class="tab-pane fade show active " id="v-pills-user" role="tabpanel"
                     aria-labelledby="v-pills-user-tab">
                    <div class=" row flex-column">
                        <h2 class="mb-5 mt-5">Welcome <span></span></h2>
                        <div class="container">
                            <div class="row w-100 ">
                                <div class=" d-flex flex-column w-100">
                                    <img src="http://www.ifes-ras.ru/images/stories/pics/news.png" class="card-img-top img img-fluid  mx-auto news-img ">
                                    <div class="card-body w-100 mx-auto p-5">
                                        <h5 class="card-title text-center" th:text="${headline}"></h5>
                                        <p class="card-text text-center " style=" word-wrap: break-word;"  th:text="${description}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container p-5">
                            <h2 class="text-center" id="user_comments">Комментарии</h2>
                            <!--<div class="m-5">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid mb-2">
                                            <p class="text-secondary text-center">15 Minutes Ago</p>
                                        </div>
                                        <div class="col-md-10">
                                            <p>
                                                <strong>Maniruzzaman Akash</strong>
                                            </p>
                                            <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            <p>
                                                <a class="float-right btn text-white btn-danger"> <i class="fas fa-exclamation-triangle"></i> Пожаловаться</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>!-->
                           <!-- <div class="m-5">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid mb-2"/>
                                            <p class="text-secondary text-center">15 Minutes Ago</p>
                                        </div>
                                        <div class="col-md-10">
                                            <p>
                                                <strong>Maniruzzaman Akash</strong>
                                            </p>
                                            <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            <p>
                                                <a class="float-right btn text-white btn-danger"> <i class="fas fa-exclamation-triangle"></i> Пожаловаться</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>!-->
                            <h2 class="text-center">Оставить комментарий</h2>
                            <div class="m-5">
                                <div class="card-body">
                                    <div class="row" >
                                        <div class="col-md-2">
                                            <img class="img img-rounded img-fluid mb-2" src="https://image.ibb.co/jw55Ex/def_face.jpg"/>
                                        </div>
                                        <div class="comment_area-body col-md-10">
                                            <strong>Seeker</strong>
                                            <div class="mt-3">
                                                <div class="form-group basic-textarea rounded-corners">
                                                    <textarea class="form-control z-depth-1" id="user_comment" rows="3" placeholder="Write your comment..."></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary" name="submit" id="submit_comment">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>

</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="/../../js/news_comments.js"></script>
</body>
</html>