<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <table>
        <tr>
            <td>Login:</td>
            <td><input  name="login"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name="password"/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
        <tr><td><input type="hidden" th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"/></td></tr>
    </table>
</form>
<!--/*@thymesVar id="error" type=""*/-->
<p th:text="${error}" style="color: red;"></p>
</body>
</html>